{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" >
        <h3>Corporation <span class="muted small">LIST</span>
        </h3>
        <side-menu-container ng-transclude>
            <div class="col-xs-12 corporation-list" ng-controller="corpListController">
                <div ng-repeat="c in corps" ng-if="corps.length" ng-click="selectCorporation(c)" class="corp-item" ng-class="{ 'warning' : c.new, 'success': selected_corp.id == c.id }">
                    <span ng-show="!c.new" width="75px"><eve-image image-type="'Corporation'" object_id="c.eve_id" img-width="64" ng-show="!c.new"></eve-image> </span>
                    <span class="corp-name" ng-show="!c.new">{{ '{{ c.name }}' }}</span>
                    <loading-spinner ng-show="c.new"></loading-spinner>
                </div>
            </div>
            <slide-button open-type="new"></slide-button>
            {% include 'AppBundle:Admin/Corporation:corpDataPanel.html.twig' %}

            {% include 'AppBundle:Admin/Corporation:new.html.twig' %}
        </side-menu-container>
    </div>
{% endblock %}
