{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" >
        <side-menu-container ng-transclude>
            <div class="col-xs-12 corporation-list" ng-controller="corpListController" ng-cloak>
                <br>
                <span class="pull-right small normal_font" ng-if="needs_update.length > 0">
                    <b class="text-danger">{{ '{{ needs_update.length }}' }}</b> Corporation(s) Pending Initial Update
                </span>
                <div class="row cloak">
                   <div class="col-xs-10">
                       <div ng-repeat="c in corps" ng-if="corps.length" ng-click="selectCorp(c)" class="corp-item" ng-class="{ 'warning' : c.new, 'success': selected_corp.id == c.id }">
                           <eve-image image-type="'Corporation'" object_id="c.eve_id" img-width="128" ng-show="!c.new"></eve-image>
                           <span class="small muted"><b>{{ '<{{ c.corporation_details.ticker }}>' }}</b></span>
                       </div>
                   </div>
                    <div class="col-xs-2">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <slide-button open-type="new"></slide-button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="cloak">
                    {% include 'AppBundle:Admin/Corporation:corpDataPanel.html.twig' %}
                </div>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% include 'AppBundle:Admin/Corporation:new.html.twig' %}
            {% endif %}
        </side-menu-container>
    </div>
{% endblock %}
