<button type="button" ng-click="toggleOpen()" class="pull-right btn btn-sm" ng-cloak>
    <i ng-class='{
        "fa fa-plus": !open && openType == "new",
        "fa fa-minus": open && openType == "new",
        "fa fa-chevron-right": !open && openType == "edit",
        "fa fa-chevron-left": open && openType == "edit"
    }'></i>
</button>
