<eve-pane title="Deliveries">
    <div ng-controller="deliveryController" class="row">
        <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
            <p>
                <b class="text-info">Total In Deliveries:</b> {{ '{{ sumDeliveries() | currency }}' }}
            </p>

        </div>
        <div class="col-xs-12 well" ng-show="!selected_corp"><h5 class="text-center">Select a Corporation</h5></div>
    </div>
</eve-pane>
