{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row" >
        <h3>Character <span class="muted small">LIST</span>
        </h3>
        <side-menu-container ng-transclude>

                <slide-button open-type="new"></slide-button>
            </div>
        </side-menu-container>
    </div>
{% endblock %}
