{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <div class="row legal">
        <h2>Copyright Notice</h2>
        <p>
            EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. CCP hf. has granted permission to [insert your name or site name] to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, Eve Tool. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.

        </p>
    </div>
{% endblock %}
