export/*
*~
*.swp
*.swo
.sass-cache
/web/bower_components*
.idea
/app/bootstrap.php.cache 
/src/AppBundle/Resources/public/css/
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web
