$darkestBlack: lighten(black, 5);
$darkerBlack: lighten(black, 10);

$offGrey: lighten(black, 20);
$offWhite: darken(white, 10);
$blueish: #5C6366;
$darkBlue: #364566;
$eveOrange: #ffa500;
$eveRed: #8d1d0e;
$eveGreen: #396412;