@include font-face('eve_alphabold', font-files("eve-webfont.eot","eve-webfont.woff2","eve-webfont.woff","eve-webfont.ttf","eve-webfont.svg" ));

$roboto: 'Roboto', sans-serif;

$knewave: 'Knewave', cursive;

.logo-font {
  font-family: 'eve_alphabold';
}

.slanted-font {
  font-family: $knewave;
}
