table.table.data-table {
  padding: 10px;

  thead {
    tr th {
      background-color: $darkerBlack;
      color: $offWhite;
      text-transform: capitalize;
      border-bottom: 1px lighten($darkerBlack, 20);
    }
  }
  tbody {
    background-color: lighten($offWhite,10);
    tr td {
      color: $offGrey;
      font-weight: 400;
      font-size: 14px;
      border: 0;
    }

    tr td:hover {
      cursor: pointer;
    }
  }
}

