.summary-stats {
  display: inline-block;
  line-height: 22px;
  padding: 20px;
}

.wallet-divisions{

  li.active, li:hover, li:focus, li.active:hover, li.active:focus {
    background-color: $darkBlue;
    border-color: $blueish;
    p {
      color: $offWhite;
    }
  }
  p {
    margin: 0;
    color: $offGrey;
  }

}

