.summary-stats {
  display: inline-block;
  line-height: 22px;
  padding: 20px;
  padding-top: 0;
}

.controls {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 10;
  .btn {
    padding: 2.5px 5px;
  }
}

.viewing-details {
  height: 100px;
}

.graphs {
  background-color: $offWhite;
  padding: 0;
  .x-axis path,
  .x-axis line {
    fill: none;
    stroke: $offWhite;
    shape-rendering: crispEdges;
  }

  .x-axis text {
    font-family: sans-serif;
    font-size: 11px;
  }



  .wallet text {
    text-anchor: end;
  }

}

.wallet-divisions{

  li.active, li:hover, li:focus, li.active:hover, li.active:focus {
    background-color: $darkBlue;
    border-color: $blueish;
    p {
      color: $offWhite;
    }
  }
  p {
    margin: 0;
    color: $offGrey;
  }

}

