# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app_data.database_host: 127.0.0.1
    app_data.database_port: null
    app_data.database_name: eve_platform
    app_data.database_user: root
    app_data.database_password: null

    eve_data.database_host: 127.0.0.1
    eve_data.database_port: null
    eve_data.database_name: ebs_datadump
    eve_data.database_user: root
    eve_data.database_password: null

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: xxxxxxx

    eve_client_id: xxxxxx
