# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app_data.database_host: 127.0.0.1
    app_data.database_port: null
    app_data.database_name: eve_platform
    app_data.database_user: root
    app_data.database_password: null

    security.exception_listener.class : AppBundle\Security\Firewall\ExceptionListener

    eve_data.database_host: 127.0.0.1
    eve_data.database_port: null
    eve_data.database_name: ebs_datadump
    eve_data.database_user: root
    eve_data.database_password: null

    mailer_transport:  smtp
    mailer_host:       smtp.something.com
    mailer_user:       admin@someone.com
    mailer_port:       587
    mailer_password:   xxxxxxxxxxxxxxxxxxxxxx

    crest_market_url: 'https://crest-tq.eveonline.com/market/prices/'

    jwt_private_key_path: %kernel.root_dir%/var/jwt/private.pem   # ssh private key path
    jwt_public_key_path:  %kernel.root_dir%/var/jwt/public.pem    # ssh public key path
    jwt_key_pass_phrase:  ''                                      # ssh key pass phrase
    jwt_token_ttl:        86400

    slack_webhook_url: https://hooks.slack.com/services/xxxxxxxxx/xxxxxxxxx/xxxxxxxxxxxxxxxxxxxxxxxx
    secret: xxxxxxx

    eve_client_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    eve_client_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    test_config:
        api_keys:
            no_expire:
                code:
                key:
            bad_type:
                code:
                key:
            good_corp_key:
                code:
                key:
            bad_mask:
                code:
                key:
            good_user_key:
                code:
                key:
