# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app_data.database_host: 127.0.0.1
    app_data.database_port: null
    app_data.database_name: eve_platform
    app_data.database_user: root
    app_data.database_password: null

	security.exception_listener.class : AppBundle\Security\Firewall\ExceptionListener

    eve_data.database_host: 127.0.0.1
    eve_data.database_port: null
    eve_data.database_name: ebs_datadump
    eve_data.database_user: root
    eve_data.database_password: null

    mailer_transport:  smtp
    mailer_host:       smtp.something.com
    mailer_user:       admin@someone.com
    mailer_port:       587
    mailer_password:   xxxxxxxxxxxxxxxxxxxxxx

    secret: xxxxxxx

    eve_client_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    eve_client_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

