<p class="footer">
    Created by <a href="https://gate.eveonline.com/Profile/Orloc" target="_blank">Orloc</a>. Feel free to send me questions, suggestions or donations of ISK. <br>
    All <a href="{{ path('legal') }}">Eve Related Materials</a> are property of CCP Games. See <a href="{{ path('legal') }}">Legal Notice</a>. <br><a href="https://github.com/sudorandom/evepraisal" target="_blank">Source on github</a> | <a href="https://github.com/sudorandom/evepraisal/issues" target="_blank">Report an Issue</a> | <a href="http://sudorandom.com" target="_blank">Creator's Thoughts</a>
</p>
