<footer>
    <p class="footer">
        Created by <a href="https://gate.eveonline.com/Profile/Orloc" target="_blank">Orloc</a>. Feel free to send me questions, suggestions or donations of ISK. <br>
        All <a href="{{ path('legal') }}">Eve Related Materials</a> are property of CCP Games. See <a href="{{ path('legal') }}">Legal Notice</a>. <br><a href="https://github.com/orloc/evetool" target="_blank"><i class="fa fa-github"></i> Source </a> | <a href="https://github.com/orloc/evetool/issues" target="_blank">Report an Issue</a>
    </p>

</footer>
