@import 'compass/css3';
@import '_partials/_fonts.scss';
@import '_partials/_colors.scss';
@import '_partials/_pushMenu.scss';
@import '_partials/_footer.scss';
@import '_partials/_form.scss';
@import '_partials/_legal.scss';
@import '_partials/_tables.scss';
@import '_partials/_sidemenu.scss';
@import '_partials/_onlineWidget.scss';
@import '_partials/_spinner.scss';
@import '_partials/_walletoverview.scss';
@import '_partials/_orebuyback.scss';
@import '_partials/_corporation_item_pane.scss';

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  left: 0;
  margin: 0;
  font-family: $roboto;
}

h1, h2, h3, {
  font-family: 'eve_alphabold', sans-serif;
  color: white;
}

p, ul,a {
  color: white;
}

a.eve {
  color: $eveOrange;
  &:hover {
    color: darken($eveOrange, 20);
  }
  &:focus {
    color: darken($eveOrange, 20);
  }
}

.normal_font {
  font-family: $roboto;
}



a.navbar-brand {
  color: white!important;
}

#wrapper {
  background-color: $darkerBlack;
}


#page-wrapper {
  background-color: lighten($darkerBlack,10);
  position: relative;
  #page-overlay{
    position: absolute;
    width: 100%;
    margin-left: -30px;
    height: 100%;
    z-index: 10;
    opacity: 0.6;
    background-color: black;
    display: none;
  }
  .container-fluid {
    position: relative;
    z-index: 10;
    min-height: 900px;
    padding-bottom: 3em;
  }
  /*
  @include background-image(radial-gradient(circle at 1.98% 23.04%, #2b0000, transparent 100%),radial-gradient(circle at 98.02% 70.05%, #190A05, transparent 93%),radial-gradient(circle at 50% 50%, #050d06, #050d06 100%));
  */
  border-left: $darkerBlack;
}

.navbar {
  background-color: $darkestBlack;
  border: $darkerBlack;
}

.navbar-top-links {
  li.dropdown {
    a:hover , a:focus{
      background-color: $darkerBlack;
      color: lighten($darkBlue, 20);
    }

    ul.dropdown-menu {
      margin:0;
      border:0;
      border-radius:0;
      background-color: $darkerBlack;
      li a {
        font-size: 16px;
        color: lighten($darkBlue, 20);

      }
      &:hover {
        background-color: lighten($darkerBlack, 10);
      }
    }
  }
}

.navbar-brand {
  font-family: 'eve_alphabold', sans-serif;
  font-size: 30px;
  span {
    font-size: 15px;
  }
}

.character-select{
  padding: 10px;

  ul li {
    color: $darkerBlack;
  }


}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;

}
