@import 'compass/css3';
@import '_partials/_fonts.scss';
@import '_partials/_colors.scss';
@import '_partials/_security.scss';

$darkBlue : darken(#3498DB, 30);
$mistyBlue : desaturate($darkBlue, 40);
$darkerBlue : #061624;
body {
  background-color: darken($darkBlue, 20);
  font-family: $roboto;
}

a:hover {
}

.home-subscribe {
  background-color: $darkBlue;
}


.navbar-brand {
  font-family: 'eve_alphabold', $roboto, sans-serif;
}

h1, h2, h3, h4, h5, p, {
  color: $offWhite;
}

#intro h2 {
  color: $offWhite;

  span {
    font-family: 'eve_alphabold', $roboto, sans-serif;
  }
}

.footer-copy {
  p {
    color : $darkerBlack;
  }
}

#intro.intro2 {
  background: url('../img/moon-station.png');
  background-attachment: fixed;
  min-height: 850px;
}

.info-content.boxes {
  .ic-inner {
    img {
      max-height: 200px;
    }
  }
}

.dual-btns {
  a {
    background: $darkBlue;
  }
}

.faq-content .panel-default {
  border: none;
  background: transparent;
}

.faq-content .panel-heading {
  border: none;
  background: transparent;
}
.faq-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.footer-copy {
  background-color: darken($darkBlue, 20);

  p.footer {
    color: $offWhite;
  }

  a:hover {
    color: $offWhite;
  }
}

.legal-container,.login-container{
  height: 100%;
  background: url('../img/moon-station.png');
  background-attachment: fixed;
}

