{% extends 'AppBundle:Marketing:landing.html.twig' %}


{% block inner_content -%}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="container login-container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="text-center" style="color:white;">
                    <span class="text-success">Congratulations</span> you have successfully activated your account.
                </h2>
                <h3 class="text-center text-warning"> If you are not redirected in 5 seconds click <a id="redirect" href="{{ path('dashboard', [], true) }}">here</a></h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {{ parent() }}

    <script>
        $('document').ready(function(){
            setTimeout(function(){
                window.location = $('#redirect').attr('href');
            }, 3000);
        });
    </script>
{% endblock %}
