<div ng-controller="corpMembersController" class="row">
    <div class="col-xs-12 well" ng-show="selected_corp" ng-cloak>
        <table class="table data-table table-striped table-condensed">
            <thead>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Joined on
            </th>
            <th>
                Time in corp
            </th>
            <th>
                Total Contributions
            </th>
            </thead>
            <tbody>
            <tr >
                <td>
                    <eve-image image-type="'Type'" object-id="item.type_id" img-width="64"></eve-image>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 well" ng-show="!selected_corp" ng-cloak><h5 class="text-center">Select a Corporation</h5></div>
</div>
