<!-- HEADER -->
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="col-md-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('default') }}">EAU</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if app.request.attributes.get('_route') == 'default'%}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#faq">FAQ</a></li>
                        <li><a href={{ path('fos_user_security_login') }}>Login</a></li>
                    </ul>
                    {% endif %}
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </nav>
</header>