{% extends 'AppBundle:Marketing:landing.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}


{% block inner_content -%}
    <div class="legal-container " style="min-height:850px">
        <div class="container" style="padding-top: 150px;">
            {% include '@App/legal.html.twig' %}
        </div>
    </div>

{% endblock %}
