{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <h1>User list</h1>

    {{ datatable_render_html(dataTable) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ datatable_render_js(dataTable) }}
{% endblock %}
