{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block content -%}
    <h1>User list</h1>
    <div class="row" ng-controller="userListController">
        {{ '{{ hi }}' }}
    </div>

{% endblock %}
