<side-menu-slider form-context="new" ng-cloak >
    <div class="header">
        <h3>New User</h3>
    </div>
    <p class="text-center">&nbsp;&nbsp;Please enter the required information.</p>
    <div ng-controller="userNewController">
        <form name="newUserForm">
            <table class="table-form">
                <tbody>
                <tr ng-repeat="e in errors">
                    <td></td>
                    <td>
                        <div class="alert alert-danger">
                            <p class="small text-danger">
                                <i class="fa fa-warning fa-fw"></i> {{ 'There was a problem with your {{ e.property_path }}' }}  <br>{{ '{{ e.message }}' }}</span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i ng-class="{ 'text-danger fa fa-times': newUserForm.username.$invalid, 'text-success fa fa-check': newUserForm.username.$valid}"></i>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name="username"
                                   type="text"
                                   ng-minlength="4"
                                   class="form-control"
                                   placeholder="Username..."
                                   ng-required="true"
                                   ng-model="newUser.username"
                                    />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i ng-class="{ 'text-danger fa fa-times': newUserForm.email.$invalid, 'text-success fa fa-check': newUserForm.email.$valid}"></i>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name="email"
                                   type="email"
                                   class="form-control"
                                   placeholder="Email..."
                                   ng-required="true"
                                   ng-model="newUser.email"
                                    />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i ng-class="{ 'text-danger fa fa-times': newUserForm.password.$invalid, 'text-success fa fa-check': newUserForm.password.$valid}"></i>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name="password"
                                   type="password"
                                   class="form-control"
                                   ng-minlength="6"
                                   placeholder="Password..."
                                   ng-required="true"
                                   ng-model="newUser.plainPassword"
                                    />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i ng-class="{ 'text-danger fa fa-times': newUserForm.password_confirmation.$invalid, 'text-success fa fa-check': newUserForm.password_confirmation.$valid}"></i>
                    </td>
                    <td>
                        <div class="form-group">
                            <input name="password_confirmation"
                                   type="password"
                                   class="form-control"
                                   ng-minlength="6"
                                   placeholder="Password Confirmation..."
                                   ng-required="true"
                                   compare-to="newUser.plainPassword"
                                   ng-model="newUser.password_confirmation"
                                    />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i ng-class="{ 'text-danger fa fa-times': newUserForm.role.$invalid, 'text-success fa fa-check': newUserForm.role.$valid}"></i>
                    </td>
                    <td>
                        <select class="form-control"
                                name="role"
                                ng-required="true"
                                ng-model="newUser.role"
                                ng-options="item.role as item.name for item in roles">
                            <option value="">Select a Role</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button ladda="submitLoading" ng-disabled="!newUserForm.$valid " class="btn btn-block" type="submit" ng-click="submit()">Submit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</side-menu-slider>
