<div class="col-xs-12 category-view" ng-controller="inventoryCategoryViewController" ng-show="view_type === 2 && !loading">
    <uib-accordion>
        <uib-accordion-group
                heading="{{  '{{ cat.marketGroupName }}' }}"
                ng-repeat="cat in category_tree"
                ng-click="openCategory(cat)"
                >
            <div class="row">
                <div class="col-xs-4">
                    <p class="small">
                        {{ '{{ cat.description }}' }}
                    </p>
                </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
