{# Table VIEW = 0 #}
<div ng-controller="inventoryTableViewController" class="col-xs-12" ng-show="view_type === 'all'">
    <div ng-show="loading === true" class="col-xs-12 text-center">
        <cube-grid-spinner></cube-grid-spinner>
    </div>
    <div class="row" ng-show="loading === false">
        <div class="col-sm-9" >
            <uib-pagination ng-disabled="loading === true" class="pagination-sm pull-left" max-size="10" total-items="total_items" ng-model="page" ng-change="pageChanged()" rotate="false" boundry-links="true"></uib-pagination>
        </div>
        <div class="col-sm-3">
            {#
            <button slide-toggle="#advanced_options" style="margin-top: 20px;" class="btn btn-sm">Advanced Filters</button>
            #}
            <div class="pull-right">
                <span class="small muted">Per Page</span>
                <select ng-disabled="loading === true" style="width: 50px;" class="form-control" ng-model="per_page" ng-options="selection.value as selection.label for selection in per_page_selection">
                </select>
            </div>
        </div>
        {#
        <div id="advanced_options" class="slideable">
            <div class="col-xs-12">
                <p>Here there will be instructions to configure complex filters</p>
                <hr>
            </div>
        </div>
        <div class="col-xs-12 active-filters">
            <label class="label label-info"  ng-repeat="f in getActiveFilters()">{{ '{{ f.name }}' }}</label>
        </div>
        #}
        <div class="col-xs-12">
            <div class="table-responsive">
                <eve-data-table
                        table-headers="tableHeaders"
                        table-data="assets"
                        image-width="image_width"
                        ng-if="loading === false">
                </eve-data-table>
            </div>
        </div>
        <div class="col-xs-12" ng-show="!loading">
            <uib-pagination  ng-disabled="loading === true" class="pagination-sm pull-left" max-size="max_size" total-items="total_items" ng-model="page" ng-change="pageChanged()" rotate="false" boundry-links="true"></uib-pagination>
            <div class="pull-right">
                <span class="small muted">Per Page</span>
                <select ng-disabled="loading === true" style="width: 50px;" class="form-control" ng-model="per_page" ng-options="selection.value as selection.label for selection in per_page_selection">
                    <option val="">{{ '{{ per_page }}' }}</option>
                </select>
            </div>
        </div>
    </div>
</div>
