.corporation-list {
  position: relative;
  margin-bottom: 10px;
  eve-image img {
    display: inline-block;
    margin: 0 auto;
  }

  .description {
    font-size: 14px;
    color: $offWhite;
  }

  .corp-item {
    display: inline-block;
    width: 25%;
    padding: 10px;

    &:hover, &.success {
      .description {
        color: $darkerBlack;
      }
      background-color: $offWhite;
    }
  }



}
.character-select{
  padding: 10px;

  ul li {
    color: $darkerBlack;
  }
}
