.corporation-list {
  position: relative;
  margin-bottom: 10px;
  eve-image img {
    display: inline-block;
    margin: 0 auto;
  }

  .description {
    font-size: 14px;
    color: $offWhite;
  }

  .corp-item {
    display: inline-block;
    padding: 10px;
    color: $offWhite;

    &:hover, &.success {
      .description {
        color: $offWhite;

      }
      background: linear-gradient(darken($darkBlue, 15), $darkerBlack);
    }
  }
}
.character-select{
  padding: 10px;

  ul li {
    color: $darkerBlack;
  }
}
