.location-view {
  .panel-group {
    margin-top: 10px;
  }

  .panel-heading {
    background: linear-gradient($darkerBlack, $darkestBlack);
    border: none;
  }
  ul li {
    color: $offGrey;
    font-weight: 400;
    font-size: 12px;
    border-top: 1px solid $offGrey;
    &:first-child{
      border: 0;
    }

    button { padding: 2px; }
  }

  .header {
    border-bottom: 1px solid $offGrey;
    background: linear-gradient($darkerBlack, $darkestBlack);
    font-weight: bold;
    line-height: 12px;
    margin-bottom: 10px;
  }
}

