ul.nav.nav-tabs {
  border-bottom: 0;
  li {
    color: $offWhite;
    &.active, &:hover, &:focus {
      a {
        background: linear-gradient(lighten($offGrey, 20), $offGrey);
        color: $offWhite;
        border: none;
      }
    }
    a {
      color: $offWhite;
    }
  }
}
.summary-stats {
  display: inline-block;
  line-height: 22px;
  padding: 20px;
  padding-top: 0;
  color: $offWhite;
}

.controls {
  text-align: center;
  margin-bottom: 10px;
  .btn {
    padding: 2.5px 5px;
  }
}

.viewing-details {
  p {
    color: $offWhite;
  }
  margin-bottom: 10px;
}

.graphs {
  background: linear-gradient($darkerBlack, $darkestBlack);
  margin-bottom: 20px;
  .x-axis path,
  .x-axis line {
    fill: none;
    stroke: $offWhite;
    shape-rendering: crispEdges;
  }

  .x-axis text, .y-axis text {
    font-family: sans-serif;
    fill: $offWhite;
    font-size: 11px;
  }

  .legend text {
    font-size: 10px;
    fill: $offWhite;
  }


  .wallet text {
    text-anchor: end;
  }

}

.wallet-divisions{
  .list-group-item {
    background-color: darken($darkBlue, 20);
    border: none;
    opacity: 0.8;
    border-color: darken($eveOrange, 10);

    &:last-child {
      border-bottom: none;
    }
  }
  li.active, li:hover, li:focus, li.active:hover, li.active:focus {
    background: linear-gradient(darken($darkBlue, 15), $darkerBlack);
    border-bottom: 3px double darken($eveOrange, 20);
  }
  p {
    margin: 0;
    color: $offWhite;
  }

}

