.buyback {
  label {
    color: $offWhite;
  }

  textarea {
    background-color: $offWhite;
  }

  .well {
    background-color: $darkerBlack;
    border-color: lighten($darkerBlack, 10);
  }

  table.data-table {
    tbody tr td {
      padding: 0;
      padding-left: 5px;
    }

    .errors p {
      font-size: 20px;
    }
  }
}

